@page
@model ContactModel
@{
    ViewData["Title"] = "Galerie Zmeura Deva";
}


<!-- Page Content -->
<div class="container">

  <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Galeria foto</h1>

  <hr class="mt-2 mb-5">

  <div class="row text-center text-lg-left">

    <div class="col-lg-3 col-md-4 col-6">
        <a href="~/images/plantatie11.jpeg" data-source="~/images/plantatie11.jpeg">
            <img class="img-fluid img-thumbnail" src= "~/images/plantatie11.jpeg" alt="">
	    </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
        <a href="~/images/plantatie13.jpeg" data-source="~/images/plantatie13.jpeg">
            <img class="img-fluid img-thumbnail" src= "~/images/plantatie13.jpeg" alt="">
	    </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
        <a href="~/images/plantatie16.jpeg" data-source="~/images/plantatie16.jpeg">
            <img class="img-fluid img-thumbnail" src= "~/images/plantatie16.jpeg" alt="">
	    </a>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
        <a href="~/images/produs1.jpeg" data-source="~/images/produs1.jpeg">
            <img class="img-fluid img-thumbnail" src= "~/images/produs1.jpeg" alt="">
	    </a>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
        <a href="~/images/produs2.jpeg" data-source="~/images/produs2.jpeg">
            <img class="img-fluid img-thumbnail" src= "~/images/produs2.jpeg" alt="">
	    </a>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
        <a href="~/images/produs4.jpeg" data-source="~/images/produs4.jpeg">
            <img class="img-fluid img-thumbnail" src= "~/images/produs4.jpeg" alt="">
	    </a>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
        <a href="~/images/produs5.jpeg" data-source="~/images/produs5.jpeg">
            <img class="img-fluid img-thumbnail" src= "~/images/produs5.jpeg" alt="">
	    </a>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
        <a href="~/images/produs3.jpeg" data-source="~/images/produs3.jpeg">
            <img class="img-fluid img-thumbnail" src= "~/images/produs3.jpeg" alt="">
	    </a>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
        <a href="~/images/plantatie14.jpeg" data-source="~/images/plantatie14.jpeg">
            <img class="img-fluid img-thumbnail" src= "~/images/plantatie14.jpeg" alt="">
	    </a>
    </div>

    
    <div class="col-lg-3 col-md-4 col-6">
        <a href="~/images/plantatie15.jpeg" data-source="~/images/plantatie15.jpeg">
            <img class="img-fluid img-thumbnail" src= "~/images/plantatie15.jpeg" alt="">
	    </a>
    </div>
    
    
    <div class="col-lg-3 col-md-4 col-6">
        <a href="~/images/plantatie10.jpeg" data-source="~/images/plantatie10.jpeg">
            <img class="img-fluid img-thumbnail" src= "~/images/plantatie10.jpeg" alt="">
	    </a>
    </div>

    
    <div class="col-lg-3 col-md-4 col-6">
        <a href="~/images/plantatie9.jpeg" data-source="~/images/plantatie9.jpeg">
            <img class="img-fluid img-thumbnail" src= "~/images/plantatie9.jpeg" alt="">
	    </a>
    </div>

    
    <div class="col-lg-3 col-md-4 col-6">
        <a href="~/images/plantatie8.jpeg" data-source="~/images/plantatie8.jpeg">
            <img class="img-fluid img-thumbnail" src= "~/images/plantatie8.jpeg" alt="">
	    </a>
    </div>

    
    <div class="col-lg-3 col-md-4 col-6">
        <a href="~/images/plantatie7.jpeg" data-source="~/images/plantatie7.jpeg">
            <img class="img-fluid img-thumbnail" src= "~/images/plantatie7.jpeg" alt="">
	    </a>
    </div>
    
    <div class="col-lg-3 col-md-4 col-6">
        <a href="~/images/plantatie5.jpeg" data-source="~/images/plantatie5.jpeg">
            <img class="img-fluid img-thumbnail" src= "~/images/plantatie5.jpeg" alt="">
	    </a>
    </div>

    
    <div class="col-lg-3 col-md-4 col-6">
        <a href="~/images/plantatie4.jpeg" data-source="~/images/plantatie4.jpeg">
            <img class="img-fluid img-thumbnail" src= "~/images/plantatie4.jpeg" alt="">
	    </a>
    </div>

    
    <div class="col-lg-3 col-md-4 col-6">
        <a href="~/images/produs6.jpeg" data-source="~/images/produs6.jpeg">
            <img class="img-fluid img-thumbnail" src= "~/images/produs6.jpeg" alt="">
	    </a>
    </div>

     <div class="col-lg-3 col-md-4 col-6">
        <a href="~/images/plantatie17.jpeg" data-source="~/images/plantatie17.jpeg">
            <img class="img-fluid img-thumbnail" src= "~/images/plantatie17.jpeg" alt="">
	    </a>
    </div>

     <div class="col-lg-3 col-md-4 col-6">
        <a href="~/images/zmeura-natura.jpg" data-source="~/images/zmeura-natura.jpg">
            <img class="img-fluid img-thumbnail" src= "~/images/zmeura-natura.jpg" alt="">
	    </a>
    </div>

     <div class="col-lg-3 col-md-4 col-6">
        <a href="~/images/plantatie18.jpeg" data-source="~/images/plantatie18.jpeg">
            <img class="img-fluid img-thumbnail" src= "~/images/plantatie18.jpeg" alt="">
	    </a>
    </div>
  </div>

</div>
